footer {

	width: 100%;
	background-color: #141414;
	border-top: 2px solid #3d3d3d;
	position: relative;
	box-shadow: 0px -12px 21px rgba(0,0,0, 0.2);
	z-index: 5;
}

	footer > div {

		max-width: 1020px;
		display: flex; 
		margin-left: auto; margin-right: auto;
		width: 70%;
		background-color: #141414;
	}

		#iconsfooter {

			width: 50%;
			display: flex;
		}

			#followus {

				color: #3d3d3d;
				height: 150px; width: 60%;
			}

			#fb img {

				width: 25px; height: 25px;
			}

				#followus > div:nth-child(1) {

					height:50px; width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				#followus > div:nth-child(2) {

					height: 100px; width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}

					.iconfollowus:nth-child(2) {

						margin-left: 15px;
						margin-right: 15px;
					}

					.iconfollowus {

						height: 50px; width: 50px;
						border-radius: 50px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #3d3d3d;
						border: solid 2px rgba(0,0,0, 0.5);
					}

					.iconfollowus img {

						height: 25px; width: 25px;
					}


			#onmobile {

				height: 150px; width: 40%;
				color: #3d3d3d;
			}

				#onmobile > div:nth-child(1) {

					height: 50px; width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				#onmobile > div:nth-child(2) {

					height: 100px; width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.iconsonmobile {

					height: 50px; width: 50px;
					border-radius: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #3d3d3d;
					border: solid 2px rgba(0,0,0, 0.5);

				}

				.iconsonmobile img {

					height: 25px; width: 25px;
				}

		#credentials {

			height: 150px; width: 50%;
		}

			#credentials > ul {

				height: 50px; width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

				#credentials > ul li {

					padding: 15px;
				}

				#credentials > ul li a {

					color: #3d3d3d;
				}

				#credentials > ul li a:hover {

					color: #999;
				}			

			#credentials > div {

				height: 60%; width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}				

				#credentials > div > div:nth-child(1) {

					height: 50px; min-width: 100px;
					padding-top: 2.5px;
					padding-bottom: 2.5px;
					padding-right: 15px;
					padding-left: 15px;
					display: flex;
					align-items: center;
					background-color: rgba(0,0,0,0.5);
					color: white;
					border-radius: 5px;
					margin: 5%;
				}

				#credentials > div > div:nth-child(2) {

					height: 50px; min-width: 100px;
					padding-top: 2.5px;
					padding-bottom: 2.5px;
					padding-right: 15px;
					padding-left: 15px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #3d3d3d;
					border-radius: 3px;
					border: solid 1px rgba(0,0,0,0.5);
					color: rgba(0,0,0,0.7);
					text-shadow: none;
					font-weight: bold;
					margin: 5%;
					font-size: 15px;
				}

				#icon {

					height: 40px; width: 40px;
					margin-right: 10px;
					background-color: red;
					background-repeat: no-repeat;
    				background-size: 100% 100%;
					background-image: url('../../../assets/icon_40.jpg');
					border-radius: 5px;
				}

				#iconesgi {

					height: 40px; width: 80px;
					margin-right: 10px;
					background-repeat: no-repeat;
    				background-size: 100% 100%;
					background-image: url("../../../assets/esgi.png");
					border-radius: 5px;
				}


/* Large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) { 

	footer > div {

		flex-direction: column;
	}

	#iconsfooter {

			width: 100%;
		}

		#credentials {

			width: 100%;
		}
}


/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) { 

	footer {

		top: 25px;
	}

	footer > div {

		position: relative;
		top: 50px;
		width: 100%;
		margin: 0;
	}

	#credentials > div > div {

		display: flex;
		justify-content: center;
		align-items: center;
	}

	#credentials > ul > li a {

		font-size: 15px;
	}
}