<div id="moviesolo" *ngIf="movie">

	<div id="movieimg"><img src="{{ movie.img }}" height="180px" width="150px"/></div>

	<div id="moviebody">
		
		<h1 class="titlesolo">{{ movie.title }}</h1>

		<h3 class="subtitlesolo">Synopsis</h3>

		<p class="paragraphsolo">{{ movie.synopsis }}</p>

		<table class="tablesolo">
			
			<tr>
				<td>nationalité : </td>
				<td>{{ movie.nationality }}</td>
			</tr>

			<tr>
				<td>realisator : </td>
				<td>{{ movie.realisator }}</td>
			</tr>
		</table>

		<div class="notelike">
			
			<div class="note">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<a class="like" (click)="likeIt()">
				<img *ngIf="likedRessource == false" src="../../../../assets/thumbs-up-regular.png" height="50" width="50">
				<img *ngIf="likedRessource == true" src="../../../../assets/thumbs-up-solid.png" height="50" width="50">
			</a>
		</div>

		<app-comments></app-comments>

	</div>
</div>
