<h1>Ajouter un Article</h1>

<form class="formnewcomment" (submit)="addArticle()">
		
	<table>

		<tr>
			<td><label>Titre</label></td>
			<td><input type="text" name="title" [(ngModel)]="title"></td>

			<td><label>Image</label></td>
			<td><input type="text" name="img" [(ngModel)]="img" placeholder="(https://...image.jpg)"></td>
		</tr>

		<tr>
			<td><label>Description :</label></td>
		</tr>

		<tr>
			<td colspan="2"><textarea type="text" name="synopsis" [(ngModel)]="synopsis"></textarea> </td>
		</tr>

		<tr>
			<td><label>Contenu :</label></td>
		</tr>

		<tr>
			<td colspan="2"><textarea type="text" name="content" [(ngModel)]="content"></textarea> </td>
		</tr>
		
		<tr>
			<td colspan="2"><input class="submitbtn" type="submit" value="Ajouter l'article"></td>
		</tr>
	</table>
</form>
