#serieimg {

	height: 250px; width: 800px;
	margin-left: auto; margin-right: auto;
	background-color: blue;
}

#seriebody {

	width: 100%;
	padding-bottom: 25px;
	background-color: green;
}

	.titlesolo {

		text-align: center;
		padding-top: 25px;
		padding-bottom: 15px;
		background-color: brown;
	}

	.subtitlesolo {

		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 15px;
		font-size: 18px;
		background-color: orange;
	}

	.paragraphsolo {

		padding: 15px;
		background-color: lightblue;
	}

	.tablesolo {

		height: 150px; width: 50%;
		margin: 15px;
		background-color: blue;
	}

		.tablesolo tr td:nth-child(1){

			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.tablesolo tr td:nth-child(2){

			padding-left: 15px;
		}

	.notelike{

		height: 75px; width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: pink;
	}

		.note {

			height: 50px; width: 250px;
			display: flex;
			position: relative;
			z-index: 1;
			background-color: grey;
		}

			.note div {

				height: 50px; width: 50px;
				position: absolute;
				z-index: 2;
				/*background-color: purple;*/
			}

			.note div:nth-child(2) {

				margin-left: 50px;
			}

			.note div:nth-child(3) {

				margin-left: 100px;
			}

			.note div:nth-child(4) {

				margin-left: 150px;
			}

			.note div:nth-child(5) {

				margin-left: 200px;
			}

		.noteglobal {

			font-size: 30px; 
			font-weight: bold;
			position: relative;
			right: 5%;
		}

		.like {

			height: 50px; width: 50px;
			background-color: grey;
		}

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) { 

	.tablesolo {

		width: 100%;
		margin-left: 0;
	}

	.notelike {

		flex-direction: column;height: auto;
	}

	.notelike > div, .notelike > a { 

		margin-top: 15px;
		margin-bottom: 15px;
	}

	.noteglobal {

		margin-bottom: 0px;
		right: 0;
	}
}