<div id="seriesolo" *ngIf="serie">

	<div id="serieimg"><img src="{{ serie.img }}" height="180px" width="150px"/></div>

	<div id="seriebody">
		
		<h1 class="titlesolo">{{ serie.title }}</h1>

		<h3 class="subtitlesolo">Synopsis</h3>

		<p class="paragraphsolo">{{ serie.synopsis }}</p>

		<table class="tablesolo">
			
			<tr>
				<td>nationalité : </td>
				<td>{{ serie.nationality }}</td>
			</tr>

			<tr>
				<td>distributeur : </td>
				<td>{{ serie.distributor }}</td>
			</tr>
		</table>

		<div class="notelike">
			
			<div class="note">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="like"></div>
		</div>

		<app-comments></app-comments>

	</div>
</div>
