#serieimg {

	height: 250px; width: 800px;
	margin-left: auto; margin-right: auto;
	background-color: blue;
}

#seriebody {

	width: 100%;
	padding-bottom: 25px;
	background-color: green;
}

	.titlesolo {

		text-align: center;
		padding-top: 25px;
		padding-bottom: 15px;
		background-color: brown;
	}

	.subtitlesolo {

		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 15px;
		font-size: 18px;
		background-color: orange;
	}

	.paragraphsolo {

		padding: 15px;
		background-color: lightblue;
	}

	.tablesolo {

		height: 150px; width: 50%;
		margin: 15px;
		background-color: blue;
	}

		.tablesolo tr td:nth-child(1){

			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.tablesolo tr td:nth-child(2){

			padding-left: 15px;
		}

	.notelike{

		height: 75px; width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: pink;
	}

		.note {

			height: 50px; width: 250px;
			display: flex;
			background-color: grey;
		}

			.note div {

				height: 50px; width: 50px;
				background-color: purple;
			}

		.like {

			height: 50px; width: 50px;
			background-color: grey;
		}

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) { 

	.tablesolo {

		width: 100%;
		margin-left: 0;
	}
}