/* You can add global styles to this file, and also import other style files */
* {

	margin: 0;
	font-family: 'Roboto', sans-serif;
	user-select: none;
}

html {

	overflow-x:hidden;
	background-color: grey;
}

ul {

	list-style-type: none;
	padding: 0;
}

a {

	text-decoration: none;
	color: black;
}

input {

	outline: none;
	height: 18px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {

	border: none;
}

.submitbtn {

	height: auto;
	padding: 10px;
	font-size: 20px;
}

/* Large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) { }

/* Medium devices (desktops, 992px and down) */
@media (max-width: 992px) { }

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) { }	



/* FadeIn */
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#container {

	background-color: black;
}

/* Flash-Message */

@keyframes flashfade {
	0% {opacity:0;}
	20% {opacity:1}
	80% {opacity:1}
	100% {opacity:0}
}

.flashfade {
	animation-name: flashfade;
	animation-duration: 6s;
}

.flash-message{
	display:none;

	height: 50px; 
	position: absolute;
	top: 100px;
	left: 25%; right: 25%;
	padding-top: 5px; padding-bottom: 5px;
	padding-right: 10px; padding-left: 10px;
	background-color: rgba(0,0,0, 0.5);
	border-radius: 5px;
	z-index: 9;
	pointer-events: none;
}

.flash-message:last-child{

	display: flex !important;
	align-items: center;
}

	.flash-message p{

		color: #FFF;
		font-size: 20px;
		padding-left: 40px;
	}
	.alert-red{

		background-color: rgba(255, 43, 43, 0.8);
		background-image: url('assets/images/alert.png');
		background-repeat: no-repeat;
		background-position: 15px 50%;
	}

	.alert-blue{

		background-color: rgba(89, 186, 247, 0.8);
		background-image: url('assets/images/check.png');
		background-repeat: no-repeat;
		background-position: 15px 50%;
	}

	.alert-orange{

		background-color: rgba(247, 171, 17, 0.8);
		background-image: url('assets/images/info.png');
		background-repeat: no-repeat;
		background-position: 15px 50%;
	}
