<header>
  
    <div id="header">

        <div id="logo"><span id="icon"></span><span id="namesite">AlloNetflix</span></div>

        <div id="searchbar">

            <span>

                <input type="text">
                <label>Recherche</label>
            </span>
        </div>
    </div>

    <nav>

        <ul id="navbar">
          
            <li><a href="/">Home</a></li>
            <li><a href="/listearticles">Articles</a></li>
            <li><a href="/listeseries">Séries</a></li>
            <li><a href="/listemovies">Films</a></li>
        </ul>


        <div id="myspace">
        	
        	<a>Mon Espace</a>

            <div id="myspaceNav">

                <div>
                    
                    <a href="/login">IDENTIFIEZ-VOUS</a>
                    <a href="/profil">Créez votre compte</a>
                </div>

              	<ul>

    	            <li><a href="/profil">Profil</a></li>
    	            <li><a href="/addarticle">Ajouter un article</a></li>
                    <li><a href="#">Déconnexion</a></li>
              	</ul>
            </div>
        </div>
    </nav>
</header>