<header>
  
    <div id="header">

        <div id="logo"><span id="icon"></span><span id="namesite">AlloNetflix</span></div>

        <div id="searchbar">

            <span>

                <input type="text" [(ngModel)]="research" (keyup.enter)="onKey()">
                <a id="btnsearch" href="/search?research={{ research }}">Recherche</a>
            </span>
        </div>
    </div>

    <nav>

        <ul id="navbar">
          
            <li><a href="/">Accueil</a></li>
            <li><a href="/listearticles">Articles</a></li>
            <li><a href="/listeseries">Séries</a></li>
            <li><a href="/listemovies">Films</a></li>
        </ul>


        <div id="myspace">
        	
        	<a>Mon Espace</a>

            <div id="myspaceNav">

                <div>
                    
                    <a *ngIf="!profilService.loggedIn()" href="/login" id="identify">IDENTIFIEZ-VOUS</a>
                    <a *ngIf="!profilService.loggedIn()" href="/register">Créez votre compte</a>
                </div>

              	<ul>

    	            <li *ngIf="profilService.loggedIn()"><a href="/profil">Profil</a></li>
    	            <li *ngIf="profilService.loggedIn()"><a href="/addarticle">Ajouter un article</a></li>
                    <li *ngIf="profilService.loggedIn()"><a href="/login" (click)=" logoutUser();">Déconnexion</a></li>
              	</ul>
            </div>
        </div>
    </nav>
</header>