<h1>Créer un compte</h1>

<form (submit)="registerSubmit()">
		
	<table>


		<tr>
			<td><label>Pseudo</label></td>
		</tr>
		<tr>
			<td><input type="text" name="pseudo" [(ngModel)]="pseudo"></td>
		</tr>


		<tr>
			<td><label>Email</label></td>
		</tr>
		<tr>
			<td><input type="email" name="email" [(ngModel)]="email"></td>
		</tr>


		<tr>
			<td><label>Mot de passe</label></td>
		</tr>
		<tr>
			<td><input type="password" name="password" [(ngModel)]="password"></td>
		</tr>


		<tr>
			<td><label>Nom</label></td>
		</tr>
		<tr>
			<td><input type="text" name="lastName" [(ngModel)]="lastName"></td>
		</tr>


		<tr>
			<td><label>Prénom</label></td>
		</tr>
		<tr>
			<td><input type="text" name="firstName" [(ngModel)]="firstName"></td>
		</tr>

		<tr>
			<td><label>Adresse</label></td>
		</tr>
		<tr>
			<span>
				<td><label>N° : </label><br><input type="number" name="nbStreet" [(ngModel)]="nbStreet"></td>
				<td><label>Nom de rue : </label><br><input type="text" name="street" [(ngModel)]="street" value="hello"></td>
			</span>
			<span>
				<td><label>Ville : </label><br><input type="text" name="city" [(ngModel)]="city"></td>
				<td><label>Code Postal : </label><br><input type="number" name="postalCode" [(ngModel)]="postalCode"></td>
			</span>
		</tr>


		<tr>
			<td><label>Sexe</label></td>
		</tr>
		<tr>
			<td><input type="radio" name="sex" value="male" [(ngModel)]="sex" checked>Homme</td>
		    <td><input type="radio" name="sex" value="female" [(ngModel)]="sex">Femme</td>
		    <td><input type="radio" name="sex" value="other" [(ngModel)]="sex">Autre</td>
		</tr>


		<tr>
			<td><label>Date de naissance</label></td>
		</tr>
		<tr>
			<td><input type="date" name="birthDay" [(ngModel)]="birthDay" (input)="checkDate()"></td>
		</tr>

		<tr *ngIf="compareDate < 16 && rgpd == 'true'">
			<td><label>Accord parental</label></td>
		</tr>
		<tr *ngIf="compareDate < 16 && rgpd == 'true'">
			<td><input type="radio" name="p_agreement" value="yes" [(ngModel)]="p_agreement" checked>Oui</td>
		    <td><input type="radio" name="p_agreement" value="no" [(ngModel)]="p_agreement">Non</td>
		</tr>


		<tr>
			<td><label>RGPD</label></td>
		</tr>
		<tr id="rgpdTr">
			<td><input type="radio" name="rgpd" value="true" [(ngModel)]="rgpd" checked>Oui</td>
		    <td><input type="radio" name="rgpd" value="false" [(ngModel)]="rgpd">Non</td>
		</tr>


		<tr>
			<td><input class="submitbtn" type="submit" value="Inscription"></td>
		</tr>
	</table>
</form>