<div id="home">

	<div id="loading_bg" *ngIf="appComponent.cookies">
		En continuant la navigation sur ce site, vous acceptez l'usage de cookies.
		<span (click)="hideCookies()">X</span>
	</div>

	<!-- carousel -->
	<div id="slider">

		<img class="mySlides" src="/assets/images/img1.jpg">
		<img class="mySlides" src="/assets/images/img2.jpg">
		<img class="mySlides" src="/assets/images/img5.jpg">
	</div>	

	<div id="sliderPanels"><div>
		
		<div id="leftBtnPanel" class="btnPanel"><</div>

		<div id="groupdPointPanel">

			<div id="firstpoint" class="pointPanel"></div>
			<div id="secondpoint" class="pointPanel"></div>
			<div id="thirdpoint" class="pointPanel"></div>
		</div>

		<div id="rightBtnPanel" class="btnPanel">></div>
	</div></div>

	<!-- Articles -->

	<h1 class="titleHome">Articles</h1>

	<ul class="navTitleHome">
		
		<li><a href="/listearticles?sorting=bynote">#Meilleurs article</a></li>
		<li><a href="/listearticles?sorting=bydate">#Derniers article</a></li>

	</ul>

	<div id="articleHome" class="elementHome">
		
		<div>

			<div class="bestHome">
				
				<div class="tabletSliderDiv"></div>

				<div class="subTitleHome">
					<h2>SORTIS RÉCEMMENTS</h2>

					<div class="groupPointsSubTitle">

						<div id="pointLeftLastArticle" (click)="listPanelToLeft($event)"><</div>
						<div id="pointRightLastArticle" (click)="listPanelToRight($event)">></div>
					</div>
				</div>

				<ul id="listPanelLastArticle" class="listPanelHome">

					<li class="panelHome" *ngFor="let article of listArticlesByDate; let i = index">
						
						<div class="imgPanelHome"><img src="{{ article.img }}" height="180px" width="150px" /></div>
						<a href="/article?id={{ article.idarticle }}" class="titlePanelHome">{{ article.title }}</a>
						<div class="descriptionPanelHome">{{ article.auteur }}</div>
					</li>
				</ul>
			</div>

			<div class="lastHome">
				
				<div class="tabletSliderDiv"></div>

				<div class="subTitleHome">
					<h2>ALL STARS</h2>

					<div class="groupPointsSubTitle">

						<div id="pointLeftBestArticle" (click)="listPanelToLeft($event)"><</div>
						<div id="pointRightBestArticle" (click)="listPanelToRight($event)">></div>
					</div>
				</div>

				<ul id="listPanelBestArticle" class="listPanelHome">

					<li class="panelHome" *ngFor="let article of listArticlesByNote; let i = index">
						
						<div class="imgPanelHome"><img src="{{ article.img }}" height="180px" width="150px" /></div>
						<a href="/article?id={{ article.idarticle }}" class="titlePanelHome">{{ article.title }}</a>
						<div class="descriptionPanelHome">{{ article.auteur }}</div>
					</li>
				</ul>
			</div>
		</div>

		<aside class="asideHome">
			
			<div class="subTitleHome subTitleAsideHome">
				<h2>DIVERS</h2>
			</div>

			<ul class="listAsidePanelHome">

				<li *ngFor="let article of listArticlesBySoon; let i = index">
					
					<div class="asidePanelHome"><a href="#">{{ article.title }}</a></div>
				</li>
			</ul>
		</aside>
	</div>

	<!-- Séries -->

	<h1 class="titleHome">Séries</h1>

	<ul class="navTitleHome">
		
		<li><a href="/listeseries?sorting=bynote">#Meilleures séries</a></li>
		<li><a href="/listeseries?sorting=bydate">#Dernières séries</a></li>

	</ul>

	<div id="seriesHome" class="elementHome">
		
		<div>

			<div class="bestHome">
				
				<div class="tabletSliderDiv"></div>

				<div class="subTitleHome">
					<h2>SORTIS RÉCEMMENTS</h2>

					<div class="groupPointsSubTitle">

						<div id="pointLeftLastSeries" (click)="listPanelToLeft($event)"><</div>
						<div id="pointRightLastSeries" (click)="listPanelToRight($event)">></div>
					</div>
				</div>

				<ul id="listPanelLastSeries" class="listPanelHome">

					<li class="panelHome" *ngFor="let serie of listSeriesByDate; let i = index">
						
						<div class="imgPanelHome"><img src="{{ serie.img }}" height="180px" width="150px" /></div>
						<a href="/series?id={{ serie.idserie }}" class="titlePanelHome">{{ serie.title }}</a>
						<div class="descriptionPanelHome">{{ serie.distributor }}</div>
					</li>
				</ul>
			</div>

			<div class="lastHome">
				
				<div class="tabletSliderDiv"></div>

				<div class="subTitleHome">
					<h2>ALL STARS</h2>

					<div class="groupPointsSubTitle">

						<div id="pointLeftBestSeries" (click)="listPanelToLeft($event)"><</div>
						<div id="pointRightBestSeries" (click)="listPanelToRight($event)">></div>
					</div>
				</div>

				<ul id="listPanelBestSeries" class="listPanelHome">

					<li class="panelHome" *ngFor="let serie of listSeriesByNote; let i = index">
						
						<div class="imgPanelHome"><img src="{{ serie.img }}" height="180px" width="150px" /></div>
						<a href="/series?id={{ serie.idserie }}" class="titlePanelHome">{{ serie.title }}</a>
						<div class="descriptionPanelHome">{{ serie.distributor }}</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Movies -->

	<h1 class="titleHome">Films</h1>

	<ul class="navTitleHome">
		
		<li><a href="/listemovies?sorting=bynote">#Meilleurs films</a></li>
		<li><a href="/listemovies?sorting=bydate">#Derniers films</a></li>

	</ul>

	<div id="moviesHome" class="elementHome">
		
		<div>

			<div class="bestHome">
				
				<div class="tabletSliderDiv"></div>

				<div class="subTitleHome">
					<h2>SORTIS RÉCEMMENTS</h2>

					<div class="groupPointsSubTitle">

						<div id="pointLeftLastMovies" (click)="listPanelToLeft($event)"><</div>
						<div id="pointRightLastMovies" (click)="listPanelToRight($event)">></div>
					</div>
				</div>

				<ul id="listPanelLastMovies" class="listPanelHome">

					<li class="panelHome" *ngFor="let movie of listMoviesByDate; let i = index">
						
						<div class="imgPanelHome"><img src="{{ movie.img }}" height="180px" width="150px" /></div>
						<a href="/movie?id={{ movie.idmovie }}" class="titlePanelHome">{{ movie.title }}</a>
						<div class="descriptionPanelHome">{{ movie.realisator }}</div>
					</li>
				</ul>
			</div>

			<div class="lastHome">
				
				<div class="tabletSliderDiv"></div>

				<div class="subTitleHome">
					<h2>ALL STARS</h2>

					<div class="groupPointsSubTitle">

						<div id="pointLeftBestMovies" (click)="listPanelToLeft($event)"><</div>
						<div id="pointRightBestMovies" (click)="listPanelToRight($event)">></div>
					</div>
				</div>

				<ul id="listPanelBestMovies" class="listPanelHome">

					<li class="panelHome" *ngFor="let movie of listMoviesByNote; let i = index">
						
						<div class="imgPanelHome"><img src="{{ movie.img }}" height="180px" width="150px" /></div>
						<a href="/movie?id={{ movie.idmovie }}" class="titlePanelHome">{{ movie.title }}</a>
						<div class="descriptionPanelHome">{{ movie.realisator }}</div>
					</li>
				</ul>
			</div>
		</div>

		<aside class="asideHome">
			
			<div class="subTitleHome subTitleAsideHome">
				<h2>DIVERS</h2>
			</div>

			<ul class="listAsidePanelHome">

				<li *ngFor="let movie of listMoviesBySoon; let i = index">
					
					<div class="asidePanelHome"><a href="#">{{ movie.title }}</a></div>
				</li>
			</ul>
		</aside>
	</div>

</div>