<h1>Liste des Films</h1>

<ul *ngIf="listMovies[0] !== undefined; else elseBlock">
	<li class="list" *ngFor="let movie of listMovies; let i = index">
		
		<div class="imglist"><img src="{{ movie.img }}" height="180px" width="150px"/></div>
		<div class="bodylist">
			<div class="titlelist"><a href="/movie?id={{ movie.idmovie }}">{{ movie.title }}</a></div>
			<div class="descriptionlist">{{ movie.synopsis }}</div>
		</div>
	</li>
</ul>

<ng-template #elseBlock>
	<div id="noResources">
		
		<span>Ressources introuvables</span>

	</div>
</ng-template>