<div id="s_header">

	<div id="s_logo"><span id="icon"></span></div>

	<ul id="s_navbar">
          
        <li><a href="/">Accueil</a></li>
        <li><a href="/listearticles">Articles</a></li>
        <li><a href="/listeseries">Séries</a></li>
        <li><a href="/listemovies">Films</a></li>
    </ul>

    <div id="s_searchbar">

        <input type="text" [(ngModel)]="research" (keyup.enter)="onKey()">
        <a (click)="onClickS_SearchBar()" id="searchicon"><i class="fas fa-search"></i></a>
    </div>

    <div id="s_myspace">

        <a id="usericon"><i class="far fa-user-circle"></i></a>

        <div id="s_myspaceNav">

            <div>
                
                <a *ngIf="!profilService.loggedIn()" href="/login" id="identify">IDENTIFIEZ-VOUS</a>
                <a *ngIf="!profilService.loggedIn()" href="/register">Créez votre compte</a>
            </div>

            <ul>

                <li *ngIf="profilService.loggedIn()"><a href="/profil">Profil</a></li>
                <li *ngIf="profilService.loggedIn()"><a href="/liked">Liste des favoris</a></li>
                <li *ngIf="profilService.loggedIn()"><a href="/addarticle">Ajouter un article</a></li>
                <li *ngIf="profilService.loggedIn()"><a href="/login" (click)=" logoutUser();">Déconnexion</a></li>
            </ul>
        </div>
    </div>
</div>

