#s_header {

	height: 0; width: 100%;
	position: fixed; top: 0;
	background-color: #141414;
	display: flex;
	transition: all 0.5s ease-in-out;
	z-index: 10;
}

.slideDown {

	height: 50px !important;
}

#s_logo {

	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: initial;
	background-color: #141414;
	padding-left: 5px;
	padding-right: 5px;
}
	#icon {

		height: 40px; width: 40px;
		margin-left: 8%;
		margin-right: 4%;
		background-color: red;
		background-image: url(../../../assets/icon_40.jpg);
		border-radius: 5px;
	}

#s_navbar {

	height: 100%; width: calc(100% - 200px);
	display: flex;
}

	#s_navbar li {

		width: 15%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

#s_searchbar {

	width: 100px;
	position: initial;
}

	#s_searchbar input {

		position: absolute;
		right: 50px; top: 5px;
		height: 28px; width: 45%;
		transition: all ease-in 0.5s;
		z-index: 0;
		transform: translateX(150%);
	}

	#s_searchbar a {

		height: 100%; width: 50px;
		position: absolute;
		right: 49px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

#s_myspace {

	height: 100%; width: 50px;
	z-index: 1;
}

#s_myspace > a {

	height: 100%; width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#s_myspace > a:hover + #s_myspaceNav {

	display: block;
}

	#s_myspaceNav {

		width: 16.5%; min-width: 200px;
		display: none;
		position: fixed;
		top: 50px; right: 0;
	}

	#s_myspaceNav:hover {

		display: block;
	}

		#s_myspaceNav div {

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

			#s_myspaceNav div a:nth-child(1) {

				height: 35px; width: 150px;
				font-size: 13px;
				font-weight: bold;
				border-radius: 3px;
				margin-top: 25px; margin-bottom: 20px;
				display: flex;
				align-items: center;
				justify-content: center;				
			}

			#s_myspaceNav div a:nth-child(2) {

				font-size: 14px;
				margin-bottom: 20px;
				text-decoration: underline;
			}

		#s_myspaceNav ul li {

			padding-top: 15px; padding-bottom: 15px;
			padding-left: 10%; padding-right: 10%;
		}


#icon, #searchicon, #usericon, #s_navbar li a {

	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
} 
