<div id="s_header">

	<div id="s_logo"><span id="icon"></span></div>

	<ul id="s_navbar">
          
        <li><a href="/">Home</a></li>
        <li><a href="/listearticles">Articles</a></li>
        <li><a href="/listeseries">Séries</a></li>
        <li><a href="/listemovies">Films</a></li>
    </ul>

    <div id="s_searchbar">

        <input type="text" name="s_searchbar">
        <a (click)="onClickS_SearchBar()">Recherche</a>
    </div>

    <div id="s_myspace">

        <a>Mon Espace</a>

        <div id="s_myspaceNav">

            <div>
                
                <a href="/login">IDENTIFIEZ-VOUS</a>
                <a href="/register">Créez votre compte</a>
            </div>

            <ul>

                <li><a href="/profil">Profil</a></li>
                <li><a href="/addarticle">Ajouter un article</a></li>
                <li><a href="/login" (click)=" logoutUser();">Déconnexion</a></li>
            </ul>
        </div>
    </div>
</div>

