<ul class="comments" *ngIf="listcomments">

	<li *ngFor="let comment of listcomments; let i = index">

		<div class="headercomment">
			
			<div class="titlecomment" >{{ comment.title }}</div>
			<div class="authorcomment" >{{ comment.lastname }} {{ comment.firstname }}</div>
		</div>

		<div class="bodycomment" >{{ comment.content }}</div>
	</li>
</ul>

<div class="newcomment" *ngIf="profilService.loggedIn()">

	<h3 class="subtitlesolo">New Comment</h3>

	<form class="formnewcomment" (submit)="addComment()">
		
		<table>

			<tr>
				<td><label>Titre</label></td>
				<td><input type="text" name="titlecomment" [(ngModel)]="titlecomment"></td>
			</tr>
			<tr>
				<td><label>Commentaire :</label></td>
			</tr>
			<tr>
				<td colspan="2"><textarea type="text" name="contentcomment" [(ngModel)]="contentcomment"></textarea> </td>
			</tr>
			<tr>
				<td colspan="2"><input class="submitbtn" type="submit" value="Ajouter le commentaire"></td>
			</tr>
		</table>
	</form>
</div>