<div id="articlesolo" *ngIf="article">

	<div id="articleimg">
		<div>
			<img src="{{ article.img }}" height="180px" width="150px"/>
		</div>
	</div>

	<div id="articlebody">
		
		<h1 class="titlesolo">{{ article.title }}</h1>

		<h3 class="subtitlesolo">Description</h3>

		<p class="paragraphsolo">{{ article.synopsis }}</p>

		<table class="tablesolo">
			
			<tr>
				<td>Auteur  : </td>
				<td>{{ lastname }} {{ firstname }}</td>
			</tr>

			<tr>
				<td>Date de création : </td>
				<td>{{ article.creationdate | date :  "dd.MM.y" }}</td>
			</tr>
		</table>

		<h3 class="subtitlesolo">Content</h3>

		<p class="paragraphsolo">{{ article.content }}</p>

		<div class="notelike">
			
			<div class="note" *ngIf="profilService.loggedIn()">
				<img src="{{ noteurl }}" height="50" width="250">
				<div (click)="noteStar(2)" (mouseenter) ="enterNote(2)"  (mouseleave) ="leaveNote()"></div>
				<div (click)="noteStar(3)" (mouseenter) ="enterNote(3)"  (mouseleave) ="leaveNote()"></div>
				<div (click)="noteStar(4)" (mouseenter) ="enterNote(4)"  (mouseleave) ="leaveNote()"></div>
				<div (click)="noteStar(5)" (mouseenter) ="enterNote(5)"  (mouseleave) ="leaveNote()"></div>
				<div (click)="noteStar(1)" (mouseenter) ="enterNote(1)"  (mouseleave) ="leaveNote()"></div>
			</div>

			<div class="noteglobal">{{ note || 0 }} / 5</div>

			<a class="like" (click)="likeIt()">
				<img *ngIf="likedRessource == false" src="../../../../assets/thumbs-up-regular.png" height="50" width="50">
				<img *ngIf="likedRessource == true" src="../../../../assets/thumbs-up-solid.png" height="50" width="50">
			</a>
		</div>

		<app-comments></app-comments>

	</div>
</div>
