<div id="articlesolo" *ngIf="article">

	<div id="articleimg"><img src="{{ article.img }}" height="180px" width="150px"/></div>

	<div id="articlebody">
		
		<h1 class="titlesolo">{{ article.title }}</h1>

		<h3 class="subtitlesolo">Description</h3>

		<p class="paragraphsolo">{{ article.synopsis }}</p>

		<table class="tablesolo">
			
			<tr>
				<td>Auteur  : </td>
				<td>{{ article.auteur }}</td>
			</tr>

			<tr>
				<td>Date de création : </td>
				<td>{{ article.creationdate | date :  "dd.MM.y" }}</td>
			</tr>
		</table>

		<h3 class="subtitlesolo">Content</h3>

		<p class="paragraphsolo">{{ article.content }}</p>

		<div class="notelike">
			
			<div class="note">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="like"></div>
		</div>

		<app-comments></app-comments>

	</div>
</div>
